/**
* Card
 */
.card {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #219ece !important;
    color: white;
}

.card-header {
    background-color: #1e77a0 !important;
    color: white;
}

.flash-card-btn {
    margin: 10px;
}

/**
 * Footer
 */

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f95b4f;
    text-align: center;
}

.footer-link{
    color: white !important;
    text-decoration: none !important;
}

/**
* Header
 */
.active {
    color: #f95b4f;
}

.header-nav {
    padding: 1rem;
    background-color: #f95b4f;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 15px !important;
}

.white-link {
    color: white;
}

.white-link:hover {
    color: #1e77a0 !important;
}

.muted-txt {
    color: rgb(70, 72, 67);
}

.drop-down {
    background-color: #f95b4f !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/**
* Language DropDown Menu
 */
.language-btn {
    background-color: #219ece !important;
    color: rgba(54, 54, 54, 0.93) !important;
    border-style: none !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.language-drop-down {
    background-color: #1e77a0 !important;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}